# Toxiproxy

Toxiproxy is a framework for simulating network conditions. It's made specifically to work in testing, CI and development environments, supporting deterministic tampering with connections, but with support for randomized chaos and customization. Toxiproxy is the tool you need to prove with tests that your application doesn't have single points of failure.

## How to use this Makejail

```sh
appjail makejail \
    -j toxiproxy \
    -f gh+AppJail-makejails/toxiproxy \
    -o virtualnet=":<random> default" \
    -o nat \
    -- \
    --toxiproxy_config /path/to/your/config
appjail start toxiproxy
```

### Arguments

* `toxiproxy_ajspec` (default: `gh+AppJail-makejails/toxiproxy`): Entry point where the `appjail-ajspec(5)` file is located.
* `toxiproxy_config` (optional): Copy a Toxiproxy configuration file.
* `toxiproxy_tag` (default: `%%TAG1%%`): see [#tags](#tags).

## Tags

| Tag           | Arch    | Version            | Type   | `toxiproxy_version`
| ------------- | --------| ------------------ | ------ | ------------------ |
| `%%TAG1%%`    | `amd64` | `%%TAG1%%-RELEASE` | `thin` | `%%VERSION%%`      |
| `%%TAG2%%`    | `amd64` | `%%TAG2%%-RELEASE` | `thin` | `%%VERSION%%`      |
